<article>
  <header>{{task}}</header>
  <button data-action="delete-task" data-key="{{key}}"></button>
  <footer>
    <span>Deadline:</span>
    <time>{{dateToLocale date}}</time>
  </footer>
</article>